  <script>
    const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content'); 
    const toggleDarkMode = document.getElementById("theme-toggle");
  
    if (theme === "dark") {
      setToggleTheme('dark');
    } else if (theme === "light") {
      setToggleTheme('light');
    } else if (userPrefers === "dark") {
      document.documentElement.setAttribute('data-theme', 'dark');
      window.localStorage.setItem('theme', 'dark');
      setToggleTheme('dark');
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
      window.localStorage.setItem('theme', 'light');
      setToggleTheme('light');
    }
    
    jtd.addEvent(toggleDarkMode, 'click', function(){
      const currentTheme = jtd.getTheme();
      const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
  
      jtd.setTheme(newTheme);
      localStorage.setItem('theme', newTheme);
      setToggleTheme(newTheme);
    });
  
    function setToggleTheme(theme) {
      jtd.setTheme(theme);
      if (theme === 'dark') {
        toggleDarkMode.innerHTML = `<svg width='18px'><use href="#svg-moon"></use></svg>`;
      } else {
        toggleDarkMode.innerHTML = `<svg width='18px'><use href="#svg-sun"></use></svg>`;
      }
    }
  </script>
