//Custom Styles here.

.home .hero img {
  max-width: 450px !important;
}

.home_footer {
  text-align: center;
  padding-bottom: 1rem;
}

.home_footer div {
  font-size: 17px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

:root {
  scroll-behavior: smooth;
  --back-to-top-z-index: 5;

  --c-brand: #8e70e0;
  --c-brand-light: #273ae7;
  --c-header: #000;
  --c-text: #1b1d21;

  --c-tip: #009400;
  --c-tip-bg: #e6f6e6;
  --c-tip-text:#003100;
  --c-tip-title: #003100;
  
  --c-danger: #f53d7d;
  --c-danger-bg: #fad1df;
  --c-danger-title: #7d0026;

  --c-text-accent:#5e54e7; //link colors
  --border: #343333;

  --c-bg-light:#cad8ff; //code snips
  --c-placeholder: #2f2e2e;

  --c-bg-navbar: #f6f7f9;
}


html.dark {
  --c-brand: rgb(158, 158, 216); //changes accent color
  --c-border: #25262c; //track color, border color
  --c-brand-light: #ccd5ee; //get started button hover

  --c-tip: #009400; //tip side color
  --c-tip-bg: #003100; //tip background color
  --c-tip-title: #e2e2e2;
  --c-tip-text: #e2e2e2;

  --c-bg:  #1b1b1d;//dark mode background
  --c-bg-navbar: #242526;//nav bar color

  --c-text-accent: #67D6ED; //accent in nav
  --c-text: #e2e2e2; //text for everything including nav
  --c-header:#f1eded;

  --c-danger-bg: #4e2232;
  --c-danger: #f4558c;
  --c-danger-text: #d8d6d6;
  --c-danger-title: #fcc6d9;

  --c-search: #282828;
  --c-placeholder: #a7a4a4;
}

.sidebar{
  border: none;
  margin-top: 1px;
}

.header-anchor p{
  color: var(--c-text);
}
.scrollable-code div[class^="language-"]{
  max-height: 450px;
  overflow-y: auto;
}

.scrollable-code div pre{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.scrollable-code div .line-numbers{
  border-right: 1px solid var(--code-hl-bg-color);
  border-radius: 6px 0 0 6px;
  padding-bottom: 1.3rem;
}

.scrollable-code div[class^="language-"]::after {
  display: none;
}

div.theme-default-content:not(.custom), footer.page-meta:not(.custom), nav.page-nav:not(.custom) {
  max-width: 1800px;
}

.deviceSearch
{
  all: unset;
  background-color: var(--c-search);
  border-radius: 5px;
  border: var(--border) solid 1.5px;
  padding-left: 10px;
  width: 18rem;

}
.deviceSearch::placeholder
{
  color: var(--c-placeholder);
}
